<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="nav-logo">
            <img src="assets/img/체루.png" alt="Site Portrait" class="nav-portrait">
            <span class="material-symbols-outlined">home</span>
        </a>
        
        <button class="theme-toggle" aria-label="Toggle theme">
            <span class="material-symbols-outlined theme-icon-sun">light_mode</span>
            <span class="material-symbols-outlined theme-icon-moon">dark_mode</span>
        </button>

        <ul class="nav-menu">
            <li class="nav-item dropdown">
                <a href="#" class="nav-links">함순이/스킨/대사</a>
                <ul class="dropdown-menu">
                    <li><a href="pages/shipgirl/shipgirl-info.html">함순이 DB</a></li>
                    <li><a href="pages/shipgirl/shipgirl-tracker.html">기술/진영점수 계산기</a></li>
                    <li><a href="pages/skin/skin-viewer.html">함순이 일러/대사</a></li>
                    <li><a href="pages/skin/skin-list.html">스킨 모음집</a></li>
                    <li><a href="pages/skin/skin-poll.html">벽챈 스킨투표</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-links">쥬톡/쥬스타그램</a>
                <ul class="dropdown-menu">
                    <li><a href="pages/juustagram.html">JUUSTAGRAM 뷰어</a></li>
                    <li><a href="pages/chat-viewer/juus.html">JUUS 보기</a></li>
                    <li><a href="pages/chat-viewer/dorm3d.html">3D숙소 JUUS 보기</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-links">스토리보기</a>
                <ul class="dropdown-menu">
                    <li><a href="pages/story-viewer/main-story.html">메인스토리 뷰어</a></li>
                    <li><a href="pages/story-viewer/world-story.html">대작전스토리 뷰어</a></li>
                    <li><a href="pages/story-viewer/world-file.html">대작전 파일뷰어</a></li>
                    <li><a href="pages/story-viewer/hof.html">명예의 전당 스토리들</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-links">만화/삽화/브금</a>
                <ul class="dropdown-menu">
                    <li><a href="pages/misc/comic-viewer.html">만화 보기</a></li>
                    <li><a href="pages/misc/gallerypic.html">삽화 보기</a></li>
                    <li><a href="pages/misc/bgm-player.html">BGM 듣기</a></li>
                </ul>
            </li>
        </ul>

        <div class="menu-icon">
            <span class="material-symbols-outlined">menu</span>
        </div>
    </div>
</nav>